#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 120px;    /* Footer height */
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;            /* Footer height */
}